.c-filter {
  display: inline-block;
  padding: 0;
  color: #AAA;
  font-size: $fs-s;
  font-weight: $fw-normal;
  vertical-align: .15em;

  &_item {
    display: inline;
    margin-right: .5em;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    &.is-current {
      // font-style: italic;
    }
  }
    &_link {
      color: inherit;
    }
}
