# macOS

.DS_Store

# Craft
craft/app/
craft/storage/
craft/config/db.php
craft/config/license.key

# Node.js
npm-debug.log
node_modules/

# Pre-built assets
html/stylesheets/
html/javascripts/
html/images/
html/pics/
/html/analytics
/.idea
