.c-dribbble {
  display: flex;
  flex-wrap: wrap;
  margin: (30px - 15px) -15px -15px;
  padding: 0;

  &_item {
    margin: 15px;
    padding: 0;
    list-style: none;

    a {
      text-decoration: none;
    }
      img {
        width: (grid-width(4) - 30px * 2) / 3;
        width: 199px; // TODO: A nasty fix for IE
        height: auto;
        border: 0;
        vertical-align: middle;
        box-shadow: 0 1px 1px rgba(#808080, .4);
      }

    p {
      display: none;
    }
  }
}
.c-dribbble--wide {
  margin: (30px - 20px) -20px -20px;

  .c-dribbble_item {
    margin: 20px;
  }
    img {
      width: (grid-width(6) - 40px * 3) / 4;
    }
}
