/* Layout
------------------------------------------------- */

.u-container {
  max-width: grid-width(6);
  margin: 0 auto;
  padding: 0 ($grid-gutter / 2);
}
.u-container--narrow {
  max-width: grid-width(4);
}
.u-container--detached {
  margin-top: ($grid-gutter / 2);
  margin-bottom: ($grid-gutter / 2);
}


/* Grid
 * Based on https://philipwalton.github.io/solved-by-flexbox/demos/grids/
------------------------------------------------------------------------- */

.u-grid {
  display: flex;
  flex-wrap: wrap;
}
  .u-grid-cell {
    flex: 1;

    box-sizing: border-box;
  }

// Alignment per row

.u-grid--top {
  align-items: flex-start;
}
.u-grid--bottom {
  align-items: flex-end;
}
.u-grid--center {
  align-items: center;
}
.u-grid--baseline {
  align-items: baseline;
}

// Alignment per cell

.u-grid-cell--top {
  align-self: flex-start;
}
.u-grid-cell--bottom {
  align-self: flex-end;
}
.u-grid-cell--center {
  align-self: center;
}

// Gutters and sizing

$gutters: (
  s:  $grid-gutter / 4,
  m:  $grid-gutter / 2,
  l:  $grid-gutter,
  xl: $grid-column
);

$grid-sizing: (
  fit: '1',
  full: '0 0 100%',
  2-cols: '0 0 50%',
  3-cols: '0 0 33.33%',
  4-cols: '0 0 25%'
);

$cell-sizing: (
  fit: '1',
  full: '0 0 100%',
  1of2: '0 0 50%',
  1of3: '0 0 33.3333%',
  2of3: '0 0 66.6667%',
  1of4: '0 0 25%',
  2of4: '0 0 50%',
  3of4: '0 0 75%'
);

@mixin grid-sizes($breakpoint: '') {
  // Generate gutters
  @each $name, $size in $gutters {
    .u-grid--gutters-#{$name}#{$breakpoint} {
      margin-top: -$size;
      margin-left: -$size;

      > .u-grid-cell {
        padding-top: $size;
        padding-left: $size;
      }
    }
  }

  // Generate grid sizing
  @each $name, $size in $grid-sizing {
    .u-grid--#{$name}#{$breakpoint} > .u-grid-cell {
      flex: #{$size};
    }
  }

  // Generate cell sizing
  @each $name, $size in $cell-sizing {
    .u-grid > .u-grid-cell--#{$name}#{$breakpoint} {
      flex: #{$size};
    }
  }
}

@include grid-sizes;

@include small {
  @include grid-sizes('-at-small');
}
@include medium {
  @include grid-sizes('-at-medium');
}
@include large {
  @include grid-sizes('-at-large');
}


/* Text align
------------------------------------------------- */

.u-align-right {
  text-align: right;
}
.u-align-left {
  text-align: left;
}
.u-align-center {
  text-align: center;
}


/* Centered block
------------------------------------------------- */

.u-centered-block {
  margin: 0 auto;
}
.u-centered-block--5 {
  max-width: grid-width(5);
}
.u-centered-block--4 {
  max-width: grid-width(4);
}
.u-centered-block--3 {
  max-width: grid-width(3);
}
.u-centered-block--2 {
  max-width: grid-width(2);
}
.u-centered-block--1 {
  max-width: grid-width(1);
}
