.u-title-section {
  margin: 1em 0 .5em;
  color: $c-orange;
  font-weight: 500;
  font-size: 32px;
  font-size: 2rem;

  &_link {
    color: inherit;
    text-decoration: underline;
  }
  &--detached {
    margin-top: $grid-gutter;
  }
}
