/* Typography
------------------------------------------------- */

$f-serif-fb:            Georgia, serif;
$f-serif:               'Sentinel SSm A', 'Sentinel SSm B', $f-serif-fb;
$f-sansserif:           'Helvetica Neue', Arial, Helvetica, sans-serif;
$f-monospace:           'Bitstream Vera Sans Mono', Consolas, Monaco, 'Lucida Console', 'Courier New', Courier, monospace, serif;


/* Grid
------------------------------------------------- */

$grid-column:           120px;
$grid-gutter:           60px;


/* Colors
------------------------------------------------- */

$c-orange:              #E28063;

$c-blue:                #3DC2D7;

$c-meta:                #999;

$c-link:                $c-blue;
$c-visited:             #734D99;
$c-visited-dark:        #917CA6;
$c-hover:               $c-orange;
$c-active:              #000;
