/* Typography
------------------------------------------------- */

@supports (font-variation-settings: normal) {
  @font-face {
    font-display: swap;
    font-family: 'Martian Grotesk';
    font-stretch: 75% 200%;
    font-style: normal;
    font-weight: 100 1000;
    src: url('../../fonts/MartianGrotesk1.0-VF.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Martian Mono';
    font-stretch: 75% 200%;
    font-style: normal;
    font-weight: 100 1000;
    src:url('../../fonts/MartianMonoVF.woff2') format('woff2');
  }
}

$f-martian-grotesk:     'Martian Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-monospace:           'Martian Mono', Consolas, Monaco, 'Courier New', Courier, monospace, serif;

$fw-normal: 350;
$fw-medium: 475;
$fw-bold:   600;

$lh-normal: 1.6;
$lh-loose:  2.0;


/* Grid
------------------------------------------------- */

$grid-column:           120px;
$grid-gutter:           60px;


/* Colors
------------------------------------------------- */

$c-orange:              #E28063;

$c-blue:                #3DC2D7;

$c-meta:                #999;

$c-link:                $c-blue;
$c-visited:             #734D99;
$c-visited-dark:        #917CA6;
$c-hover:               $c-orange;
$c-active:              #000;
