/* Typography
------------------------------------------------- */

$f-sentinel:            'Sentinel SSm A', 'Sentinel SSm B';
$f-serif:               $f-sentinel, Georgia, serif;
$f-sansserif:           'Helvetica Neue', Arial, Helvetica, sans-serif;
$f-monospace:           'Bitstream Vera Sans Mono', Consolas, Monaco, 'Lucida Console', 'Courier New', Courier, monospace, serif;


/* Grid
------------------------------------------------- */

$grid-column:           120px;
$grid-gutter:           60px;


/* Colors
------------------------------------------------- */

$c-orange:              #E28063;

$c-blue:                #3DC2D7;
