.c-pagination {
  margin-top: $grid-gutter;
  font-size: 1rem;

  &_list {
    padding: 0;
  }
    &_item {
      list-style: none;
    }
      &_link {
        &:link {
          color: $c-link;
        }
        &:visited {
          color: #AAA;
        }
        &:hover {
          color: $c-hover;
        }
        &:active {
          color: $c-active;
        }
      }

    &_item--prev {
      text-align: left;

      .c-pagination_link::before {
        content: '\2190';
        float: left;
        margin-left: -1.2em;
      }
    }
    &_item--next {
      text-align: right;

      .c-pagination_link::before {
        content: '\2192';
        float: right;
        margin-right: -1.2em;
      }
    }
}
