<?php

/**
 * Database Configuration
 *
 * All of your system's database configuration settings go in here.
 * You can see a list of the default settings in craft/app/etc/config/defaults/db.php
 */

return array(

  '*' => array(
    // The database server name or IP address. Usually this is 'localhost' or '127.0.0.1'.
    'server' => 'localhost',

    // The prefix to use when naming tables. This can be no more than 5 characters.
    'tablePrefix' => 'craft',

    // Fixing a problem with MySQL 5.7.5+
    // http://craftcms.stackexchange.com/questions/12084/getting-this-sql-error-group-by-incompatible-with-sql-mode-only-full-group-by
    'initSQLs' => array("SET SESSION sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION';"),
  ),

  'efedorenko.ddev.site' => array(

    // Run `docker ps` and get the name from COMMAND NAMES column
    'server' => 'ddev-efedorenko-db',

    // The database username to connect with.
    'user' => 'root',

    // The database password to connect with.
    'password' => 'root',

    // The name of the database to select.
    'database' => 'db',

    // The database server port.
    'port' => '3306',

  )

);
