.c-current-books {
  margin: 0;
  color: #999;
  font-style: italic;
  font-size: .875em;

  &_label {
    color: inherit;
  }
  &_link {
    display: inline-block;
  }
  &_cover {
    display: inline-block;
    width: auto;
    height: 35px;
    margin-left: .33em;
    border: 0;
    vertical-align: bottom;
    outline: 1px solid rgba(#000, .15);
    outline-offset: -1px;
  }

  &--page-title {
    margin-top: 2em;

    @include large {
      float: right;
      width: 10em;
      margin-top: 0;
      margin-right: -11.5em;

      .c-current-books_label {
        display: block;
        margin-bottom: .25em;
      }
      .c-current-books_cover {
        margin-left: 0;
      }
    }
  }
}
