.c-current-books {
  margin: 0;
  color: #999;
  font-style: italic;
  font-size: .875em;

  &_cover {
    display: inline-block;
    width: auto;
    height: 35px;
    margin-left: .5em;
    vertical-align: bottom;
  }

  &--page-title {
    float: right;
    width: 10em;
    margin-right: -11.5em;

    .c-current-books_label {
      display: block;
      margin-bottom: .25em;
      color: #CCC;
    }
    .c-current-books_cover {
      margin-left: 0;
    }
  }
}
