{# Fill an array of current books #}

{% set currentBooks = craft.entries.section('currentBooks') %}

{% if currentBooks|length %}
  <p class="c-current-books {{ extraClass }}">
    <a href="https://www.goodreads.com/efedorenko" class="c-current-books_label">
      Current {% if currentBooks|length > 1 %}books{% else %}book{% endif %}:
    </a>
    {% for book in currentBooks %}
      {% if book.amazonLink|length %}<a href="{{ book.amazonLink }}" target="_blank" rel="noopener noreferrer" class="c-current-books_link">{% endif %}
        <img src="{{ book.currentBookCover }}" alt="{{ book.title }}" class="c-current-books_cover">
      {% if book.amazonLink|length %}</a>{% endif %}
    {% endfor %}
  </p>
{% endif %}
