<div class="u-container">
  <hr class="u-hr">

  <h2 class="u-title-section">
    <a href="https://www.figma.com/" target="_blank" rel="noopener" class="u-title-section_link">Figma</a> Goodies
  </h2>

  <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full u-grid--3-cols-at-medium">
    <div class="u-grid-cell">
      <a href="https://figmabook.com" target="_blank" class="c-project_link c-project_link--figmabook">
        <img src="/images/figma-book-cover@2x.png?202006071737" alt="Book “Designing in Figma”" title="Book “Designing in Figma”" class="c-project_cover">
      </a>

      <div class="u-grid u-grid--gutters-s c-project-desc">
        <div class="u-grid-cell">
          <h3 class="c-project-desc_title"><a href="https://figmabook.com" target="_blank">Book “Designing in Figma”</a></h3>
          <p>The complete guide to designing with reusable components and styles in Figma. <em>Coming in July.</em></p>
        </div>
      </div>
    </div>

    <div class="u-grid-cell">
      <a href="https://figmalion.com/" target="_blank" class="c-project_link c-project_link--figma c-project_link--figmalion">
        <img src="/images/figmalion@2x.png?202006071737" alt="Figmalion" title="Figmalion" class="c-project_cover">
      </a>
      <div class="u-grid u-grid--gutters-s c-project-desc">
        <div class="u-grid-cell">
          <h3 class="c-project-desc_title"><a href="https://figmalion.com/" target="_blank">Figmalion</a></h3>
          <p>Curated newsletter digest with news, articles, and interesting links about Figma. Sent every 2 weeks.</p>
        </div>
      </div>
    </div>

    <div class="u-grid-cell">
      <a href="https://www.figma.com/c/plugin/776197163275203567/Proper-Title-Case" target="_blank" rel="noopener" class="c-project_link c-project_link--figma">
        <img src="/images/figma-proper-title-case@2x.png" alt="Proper Title Case" title="Proper Title Case" class="c-project_cover">
      </a>
      <div class="u-grid u-grid--gutters-s c-project-desc">
        <div class="u-grid-cell">
          <a href="https://www.figma.com/c/plugin/776197163275203567/Proper-Title-Case" target="_blank" rel="noopener">Proper Title Case</a> plugin formats headines and titles based on APA and The Chicago Manual of&nbsp;Style.
        </div>
      </div>

      <a href="https://www.figma.com/c/plugin/781351612272770724/Typographer" target="_blank" rel="noopener" class="c-project_link c-project_link--figma">
        <img src="/images/figma-typographer@2x.png" alt="Typographer" title="Typographer" class="c-project_cover">
      </a>
      <div class="u-grid u-grid--gutters-s c-project-desc">
        <div class="u-grid-cell">
          <a href="https://www.figma.com/c/plugin/781351612272770724/Typographer" target="_blank" rel="noopener">Typographer</a> plugin formats text with features from fine printing — en- and em-dashes, curly quotes, apostrophes, ellipses, etc.
        </div>
      </div>
    </div>
  </div>

</div>
