.o-page-title {
  margin: $grid-gutter 0;
  color: $c-orange;
  font-weight: $fw-medium;
  font-size: $fs-xl;
  line-height: $lh-normal;
  letter-spacing: -.0075em;

  @include medium {
    font-size: $fs-xxl;
  }

  &_note {
    font-weight: $fw-normal;
  }
}

