.c-page-head {
  margin: $grid-gutter 0;

  &_title {
    display: inline-block;
    margin: 0;
  }

  &_filter {
    margin: .5em 0 0;
    color: #555;
    font-size: .9375rem;

    a:link,
    a:visited {
      color: $c-link;
    }
  }
}
