{% extends "_layout-normal" %}

{% set title = 'What Eugene is reading' %}
{% set metaDesc = 'Books, articles, and websites that Eugene Fedorenko recently read.' %}

{% block headMeta %}
  {% include 'elements/components/open-graph/_open-graph' with {
    'url': url('reading'),
    'title': title,
    'description': metaDesc
  } only %}

  <link rel="canonical" href="{{ url('reading') }}">
  <link rel="alternate" href="{{ url('reading') }}/feed.atom" type="application/atom+xml" title="What Eugene is reading">
{% endblock %}

{% block content %}

  <div class="u-container u-container--narrow">

    <div class="c-page-head">
      <h1 class="o-page-title c-page-head_title">Reading <em class="o-page-title_note">(never enough)</em></h1>
      {% include 'elements/components/books/_current-books' with {
        'books': craft.entries.section('reading').type('book'),
        'extraClass': 'c-current-books--page-title'
      } %}

      {% include 'elements/components/filter/_filter-reading' %}
    </div>

    {% include 'elements/components/posts/_posts' with {'channel': 'reading', 'limit': 10, 'type': 'excerpts'} %}
  </div>

{% endblock %}
