.c-footer {
  margin-top: $grid-gutter;
  border: 0;
  border-style: solid;
  border-width: 6px 0 0;
  border-color: transparent;
  border-image: url('/images/waves-pattern.svg') 6 0 0 repeat;
  padding: $grid-gutter 0;
  color: #444;

  .c-body--dark & {
    border-image: url('/images/waves-pattern-dark.svg') 6 0 0 repeat;
    color: #808080;
  }

  @include medium {
    margin-top: ($grid-gutter * 1.5);
  }

  &_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
    &_photo {
      flex: 0 0 auto;
      width: 60px;
      height: 60px;
      margin-right: 20px;

      @include large {
        margin-left: -80px;
      }
    }
    &_text {
    }
      &_who {
        margin: .25em 0;
        font-size: 1em;
      }
      &_where {
        margin: .25em 0;
        font-size: .85em;
      }
      &_link {
        color: $c-blue;
      }
}
