<footer class="c-footer">
  <div class="u-centered-block u-centered-block--4 c-footer_container">
    <img src="/images/ef-sml@2x.jpg" alt="Eugene Fedorenko" title="Eugene Fedorenko" class="c-footer_photo">
    <div class="c-footer_text">
      <p class="c-footer_who">Eugene Fedorenko is a product designer living in Philadelphia, PA.</p>
      <p class="c-footer_where">Follow on <a href="https://twitter.com/efedorenko" class="c-hero-intro_link">Twitter</a>, peek at <a href="https://www.instagram.com/efedorenko/" class="c-hero-intro_link">Instagram</a>, look over a shoulder on <a href="https://dribbble.com/efedorenko" class="c-hero-intro_link">Dribbble</a>, or just <a href="mailto:fedorenko@gmail.com" class="c-hero-intro_link">send an email</a>.</p>
    </div>
  </div>
</footer>
