{% extends "_layout-normal" %}

{% set title = 'Eugene Fedorenko is designing (and building, too)' %}
{% set metaDesc = entry.metaDesc %}
{% set bodyMods = 'c-body--works' %}

{% block headMeta %}
{% endblock %}

{% block content %}

  <div class="c-portfolio c-portfolio--split">
    <div class="u-container u-container--narrow">
      <div class="c-page-head">
        <h1 class="o-page-title c-page-head_title">Designing <em class="o-page-title_note">(and building, too)</em></h1>
      </div>

      <div class="c-work-story s-text">
        {{ entry.body }}
      </div>
    </div>

    {% include 'elements/components/portfolio/_portfolio' %}
  </div>

  {% include 'elements/components/project/_project' %}

  <div class="u-container u-container--narrow">
    <h2 class="u-title-section u-title-section--detached">Dribbble <em class="u-normal-weight">(work in progress)</em></h2>
  </div>
  <div class="u-container">
    {% include 'elements/components/dribbble/_dribbble' with {'limit': 4, 'mods': 'c-dribbble--wide'} %}
  </div>

{% endblock %}
