{% extends "_layout-normal" %}

{% set title = 'Eugene Fedorenko is designing (and building, too)' %}
{% set metaDesc = entry.metaDesc %}
{% set bodyMods = 'c-body--works' %}

{% block headMeta %}
{% endblock %}

{% block content %}

  <div class="c-portfolio c-portfolio--split">
    <div class="u-container u-container--narrow">
      <div class="c-page-head">
        <h1 class="o-page-title c-page-head_title">Designing <em class="o-page-title_note">(and building, too)</em></h1>
      </div>

      <div class="c-work-story s-text">
        {{ entry.body }}
      </div>
    </div>

    {% include 'elements/components/portfolio/_portfolio' %}
  </div>


  <div class="u-container">
    <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full u-grid--2-cols-at-small u-grid--3-cols-at-medium">
      <div class="u-grid-cell c-project">
        <a href="http://beanstalkapp.com" class="c-project_link c-project_link--bs">Beanstalk</a>

        <div class="u-grid u-grid--gutters-s c-project_favs">
          <h3 class="u-grid-cell c-project_subtitle">Personal favorites:</h3>
          <ul class="u-grid-cell u-list-bulletless">
            <li>Public site</li>
            <li>Guides</li>
            <li>Dashboard</li>
            <li>Code reviews</li>
            <li>Changesets</li>
            <li>Deployments</li>
          </ul>
        </div>
      </div>
      <div class="u-grid-cell c-project">
        <a href="https://postmarkapp.com" class="c-project_link c-project_link--pm">Postmark</a>

        <div class="u-grid u-grid--gutters-s c-project_favs">
          <h3 class="u-grid-cell c-project_subtitle">Personal favorites:</h3>
          <ul class="u-grid-cell u-list-bulletless">
            <li>Activity</li>
            <li>Statistics</li>
          </ul>
        </div>
      </div>
      <div class="u-grid-cell c-project">
        <a href="https://deploybot.com" class="c-project_link c-project_link--db">DeployBot</a>

        <div class="u-grid u-grid--gutters-s c-project_favs">
          <h3 class="u-grid-cell c-project_subtitle">Personal favorites:</h3>
          <ul class="u-grid-cell u-list-bulletless">
            <li>Public site</li>
            <li>Dashboard</li>
            <li>Sever configuration</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="u-container u-container--narrow">
    <h2 class="u-title-section u-title-section--detached">Dribbble <em class="u-normal-weight">(work in progress)</em></h2>
  </div>
  <div class="u-container">
    {% include 'elements/components/dribbble/_dribbble' with {'limit': 4, 'mods': 'c-dribbble--wide'} %}
  </div>

{% endblock %}
