@use 'sass:math';

.c-work-wrapper {
  margin-top: ($grid-gutter * 1.5);

  border-style: solid;
  border-width: 6px 0 0;
  border-color: transparent;
  border-image: url('/images/waves-pattern-white-top.svg') 6 0 0 repeat;

  padding-top: math.div($grid-gutter, 2);
  padding-bottom: $grid-column;
  background-color: #f8f8f8;
}

.c-work-story {
  margin-top: -1 * math.div($grid-gutter, 2);
  margin-bottom: $grid-column;
}
