@use 'sass:math';

.c-header {
  margin: math.div($grid-gutter, 2) 0 $grid-gutter;
  color: #444;
  text-align: center;
  font-size: $fs-plus;

  .c-body--dark & {
    color: #808080;
  }

  &_link {
    color: $c-blue;

    &.is-current {
      color: $c-orange;
    }
  }
}
