.c-project {
  &_link {
    display: block;
    height: $grid-column;
    margin-bottom: 1em;
    border-radius: 4px;
    text-indent: -999em;
    overflow: hidden;
  }
  &_link--bs {
    background: #5FAC6C url('../images/beanstalk-logo.svg') no-repeat 50% 33% / 170px auto;
  }
  &_link--pm {
    background: #FFDE01 url('../images/postmark-logo.svg') no-repeat 50% 50% / 170px auto;
  }
  &_link--db {
    background: #665B7A url('../images/deploybot-logo.svg') no-repeat 50% 50% / auto 90px;
  }
}

.c-project-favs {
  margin-bottom: 0;
  font-size: 12px;
  font-size: .75rem;
  color: #AAA;

  &_subtitle {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-align: right;
  }
  &_link {
    color: inherit;
  }
}

.u-link-wb {
  color: #5DA563 !important;
}
.u-link-bs {
  color: #5CAD69 !important;
}
.u-link-db {
  color: #665B7A !important;
}
.u-link-pm {
  color: #F8B42D !important;
}
.u-link-cv {
  color: #BD3F82 !important;
}
