<div class="u-container">
  <div class="u-grid u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full u-grid--2-cols-at-small u-grid--3-cols-at-medium">
    <div class="u-grid-cell c-project">
      <a href="http://beanstalkapp.com" class="c-project_link c-project_link--bs">Beanstalk</a>

      <div class="u-grid u-grid--gutters-s u-grid--2-cols c-project-favs">
        <h3 class="u-grid-cell c-project-favs_subtitle">Personal favorites:</h3>
        <ul class="u-grid-cell u-list-bulletless">
          <li><a class="c-project-favs_link" href="http://blog.beanstalkapp.com/post/134343423054/introducing-a-new-dashboard">Dashboard</a></li>
          <li><a class="c-project-favs_link" href="http://beanstalkapp.com/">Public site</a></li>
          <li><a class="c-project-favs_link" href="http://blog.beanstalkapp.com/post/101864285674/introducing-code-review">Code reviews</a></li>
          <li><a class="c-project-favs_link" href="http://blog.beanstalkapp.com/post/82399116921/a-better-way-to-display-code-and-commits">Changesets</a></li>
          <li><a class="c-project-favs_link" href="http://blog.beanstalkapp.com/post/16350863487/deployments-redesigned-featuring-ssh-command">Deployments</a></li>
          <li><a class="c-project-favs_link" href="http://guides.beanstalkapp.com/">Guides</a></li>
        </ul>
      </div>
    </div>
    <div class="u-grid-cell c-project">
      <a href="https://postmarkapp.com" class="c-project_link c-project_link--pm">Postmark</a>

      <div class="u-grid u-grid--gutters-s u-grid--2-cols c-project-favs">
        <h3 class="u-grid-cell c-project-favs_subtitle">Personal favorites:</h3>
        <ul class="u-grid-cell u-list-bulletless">
          <li><a class="c-project-favs_link" href="https://postmarkapp.com/blog/redesigned-statistics-and-activity-updates">Statistics</a></li>
          <li><a class="c-project-favs_link" href="https://postmarkapp.com/blog/a-completely-redesigned-email-activity">Activity</a></li>
        </ul>
      </div>
    </div>
    <div class="u-grid-cell c-project">
      <a href="https://deploybot.com" class="c-project_link c-project_link--db">DeployBot</a>

      <div class="u-grid u-grid--gutters-s u-grid--2-cols c-project-favs">
        <h3 class="u-grid-cell c-project-favs_subtitle">Personal favorites:</h3>
        <ul class="u-grid-cell u-list-bulletless">
          <li><a class="c-project-favs_link" href="https://deploybot.com/">Public site</a></li>
          <li><a class="c-project-favs_link" href="https://deploybot.com/blog/introducing-a-new-dashboard">Dashboard</a></li>
          <li><a class="c-project-favs_link" href="https://deploybot.com/blog/faster-way-to-deploy-and-smarter-server-configuration">Sever configuration</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
