@use 'sass:math';

.c-project {
  &_link {
    display: block;
    height: $grid-column;
    margin-bottom: 1em;
    border-radius: 4px;
    text-indent: -999em;
    overflow: hidden;
  }
  &_link--bs {
    background: #5FAC6C url('../images/beanstalk-logo.svg') no-repeat 50% 33% / 170px auto;
  }
  &_link--pm {
    background: #FFDE01 url('../images/postmark-logo.svg') no-repeat 50% 50% / 170px auto;
  }
  &_link--db {
    background: #665B7A url('../images/deploybot-logo.svg') no-repeat 50% 50% / auto 90px;
  }
  &_link--figma {
    max-width: grid-width(2);
    height: auto;
    background-color: #F8F8F8;
    box-shadow: 0 0 1px rgba(#000, .33);

    .c-project-desc + & {
      margin-top: math.div($grid-gutter, 4);

      @include medium {
        margin-top: math.div($grid-gutter, 2);
      }
    }
  }
  &_link--figmalion {
    display: flex;
    height: grid-width(2);
    align-items: center;
    justify-content: center;
    border: 2px solid #63C;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #FE7347, #63C);
    background-color: #FFF;

    .c-project_cover {
      width: 156px;
    }
  }
  &_link--figmabook {
    max-width: grid-width(2);
    height: auto;
  }
    &_cover {
      display: block;
      width: 100%;
      height: auto;
    }
}

.c-project-desc {
  font: .8125rem/1.4 $f-sansserif;
  color: #808080;

  &_title {
    margin: 0 0 .5em;
    font: bold 1rem $f-serif;
  }

  p {
    margin: 0;
  }
  a {
    font-weight: bold;
  }
  a:link {
    color: #222;
  }
  a:hover,
  a:active {
    color: $c-hover;
  }
}

.c-project-favs {
  margin-bottom: 0;
  font-size: 12px;
  font-size: .75rem;
  color: #AAA;

  &_subtitle {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-align: right;
  }
  &_link {
    color: inherit;
  }
}

.u-link-wb {
  color: #5DA563 !important;
}
.u-link-bs {
  color: #5CAD69 !important;
}
.u-link-db {
  color: #665B7A !important;
}
.u-link-pm {
  color: #F8B42D !important;
}
.u-link-cv {
  color: #BD3F82 !important;
}
