{% set entries = craft.entries.section(channel) %}
{% set markerPrev = '' %}

{% paginate entries.limit(limit) as pageInfo, pageEntries %}

{% for entry in pageEntries %}
  {% set isExternalPost = (entry.type == 'externalPost') %}
  {% set isLink = (entry.type == 'article' or entry.type == 'website') %}
  {% set entryURL = isExternalPost or isLink ? entry.postURL : entry.url %}
  {% set entryModifier = isExternalPost or isLink ? 'external' : 'local'  %}

  {# Show only unique months in _posts-titles #}
  {% set marker = entry.postDate.format('M') %}
  {% set markerUnique = (markerPrev == '' or markerPrev != marker) ? marker : '' %}
  {% set markerPrev = marker %}

  {% if entry.type == 'book' and not entry.bookFinished|length %}
    {# Do not show unfinished books #}
  {% else %}
    {% include 'elements/components/posts/_posts-' ~ type %}
  {% endif %}
{% endfor %}


{% set isPaginationVisible = isPaginationVisible is defined ? isPaginationVisible : true %}
{% if isPaginationVisible %}
  <nav class="c-pagination">
    <ul class="c-pagination_list u-grid">
      {% if pageInfo.prevUrl %}
        <li class="u-grid-cell c-pagination_item c-pagination_item--prev">
          <a href="{{ pageInfo.prevUrl }}" class="c-pagination_link">&larr; <u>Newer posts</u></a>
        </li>
      {% endif %}
      {% if pageInfo.nextUrl %}
        <li class="u-grid-cell c-pagination_item c-pagination_item--next">
          <a href="{{ pageInfo.nextUrl }}" class="c-pagination_link"><u>Older posts</u> &rarr;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
