.o-post {

  // Time

  &_time {
    color: #CCC;
    font: normal normal .75rem $f-sansserif;
  }


  // Title

  &_title {
    line-height: 1.3;
    font-weight: 500;
  }
  &_link {
    color: inherit;
    text-decoration: underline;
  }
  &_arr {
    color: $c-orange;
  }

  // Favicon for external writing

  &_favicon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: .2em;
    vertical-align: -3px;
    background: url('/images/sources@2x.png') no-repeat 0 0 / 16px 64px;
  }
  &_favicon--wb {
    background-position: 0 0;
  }
  &_favicon--bs {
    background-position: 0 -16px;
  }
  &_favicon--pm {
    background-position: 0 -32px;
  }
  &_favicon--db {
    background-position: 0 -48px;
  }


  // Author

  &_author {
    color: #AAA;
    font: .85em $f-sansserif;

    a:link {
      color: $c-link;
    }
    a:visited {
      color: $c-visited;
    }
    a:hover {
      color: $c-hover;
    }
    a:active {
      color: $c-active;
    }
  }


  // Book cover

  &_cover {
    display: block;
    width: 120px;
    height: auto;
    margin-top: .33em;

    @include medium {
      float: left;
      margin-left: -150px;
    }
  }


  // Excerpt

  &_excerpt {
    line-height: 1.6;
  }


  // Body

  &_body {

  }


  // Modifiers
  // ---------

  &--external {
    color: #222;
  }
  &--local {
    color: #000;
    font-size: 1.2em;
  }
}
