.c-posts-list {
  margin: 0 0 1.5em;
  padding-left: 0;

  &_item {
    position: relative;
    margin-bottom: 1em;
    list-style: none;
  }
    &_time {
      display: block;
      margin-top: 1.5em;
      margin-bottom: .5em;
      white-space: nowrap;

      @include large {
        float: left;
        width: 3.5em;
        margin-top: -1em;
        margin-bottom: 0;
        margin-left: -4em;
        text-align: right;

        &:not(:empty)::after {
          content: ' —';
        }
      }
    }
      &_full-month {
        display: initial;

        @include large {
          display: none;
        }
      }
    &_title {
      display: inline-block;
      font-size: 1em;
      line-height: 1.4;
    }
    &_title--w-favicon {
      padding-left: 22px;
    }
      &_favicon {
        margin-left: -22px;
      }
}
