.o-post {

  // Time

  &_time {
    color: #CCC;
    font-weight: $fw-normal;
    font-style: normal;
    font-size: 12.5px;
  }


  // Title

  &_title {
    line-height: 1.3;
    font-weight: 500;
  }
  &_link {
    color: inherit;
    text-decoration: underline;
  }
  &_arr {
    color: $c-orange;
  }

  // Travel Dates

  &_travel-dates {
    margin: -.5em 0 1.75em;
    color: #808080;
    font-size: 12.5px;

    a:link,
    a:visited {
      color: inherit;
    }
    a:hover,
    a:active {
      color: #FFF;
    }
  }

  // Favicon for external writing

  &_favicon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: .2em;
    vertical-align: -3px;
    background: url('/images/sources@2x.png') no-repeat 0 0 / 16px 80px;
  }
  &_favicon--wb {
    background-position: 0 0;
  }
  &_favicon--bs {
    background-position: 0 -16px;
  }
  &_favicon--pm {
    background-position: 0 -32px;
  }
  &_favicon--db {
    background-position: 0 -48px;
  }
  &_favicon--medium {
    background-position: 0 -64px;
  }


  // Author

  &_author {
    color: #AAA;
    font-size: 12.5px;

    a:link {
      color: $c-link;
    }
    a:visited {
      color: $c-visited;
    }
    a:hover {
      color: $c-hover;
    }
    a:active {
      color: $c-active;
    }
  }


  // Book cover

  &_cover {
    display: block;
    width: 120px;
    height: auto;
    margin-top: .33em;
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);

    @include large {
      float: left;
      margin-left: -150px;
    }
  }


  // Excerpt

  &_excerpt {
    line-height: 1.6;
  }


  // Body

  &_body {
    position: relative;
  }


  // Modifiers
  // ---------

  &--external {
    color: #222;

    .c-body--dark & {
      color: #BBB;
    }
  }
  &--local {
    color: #000;

    .c-body--dark & {
      color: #BBB;
    }

    @include medium {
      font-size: 1.125em;
    }
  }
}
