.c-post-lead {
  margin: $grid-gutter 0;

  &_time {
    @include medium {
      float: right;
      width: 8em;
      margin-top: .9em;
      margin-right: -9.5em;
      white-space: nowrap;
    }
  }
  &_cover {
    float: left;
    width: 60px;
    height: auto;
    margin-top: .25em;
    margin-right: 20px;
    border: 0;
    box-shadow: 0 1px 1px rgba(#000, .15);

    @include medium {
      margin-left: -80px;
    }
  }
  &_title {
    margin: .75em 0 .5em;
    font-size: 1.25em;
  }
  &_primary-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(#000, .15);
    transition: transform 150ms ease-in-out;

    :link:hover & {
      transform: scale(1.033);
    }
  }
  &_favicon {
    float: left;
    margin-top: .25em;
    margin-left: -22px;
  }
  &_source {
    color: #BBB;
    font: .85em $f-sansserif;
  }
  &_permalink {
    margin-right: .25em;
    font-size: 1.25em;
    text-decoration: none;

    &:link,
    &:visited {
      color: #CCC;
    }
    &:hover,
    &:active {
      color: $c-orange;
    }
  }
}

.c-post-lead--compact {
  margin-top: ($grid-gutter / 2);
  margin-bottom: ($grid-gutter / 2);

  .c-post-lead_title {
    margin-bottom: .25em;
    font-size: 1em;
  }
  .c-post-lead_excerpt {
    font-size: .9375em;
  }
}


.c-post-lead--travel {
  .o-post_travel-dates {
    margin: 0 0 .75em;
  }
  .c-body--dark & .c-post-lead_title {
    color: #EEE;
  }
}
.c-post-lead--multipart-trip {
  margin-bottom: $grid-gutter / 3;

  .c-post-lead_title {
    font-size: 2em;
  }
}
.c-post-lead--part-of-trip {
  margin-top: $grid-gutter / 3;
  margin-bottom: $grid-gutter / 3;

  & + :not(&) {
    margin-top: $grid-gutter / 3;
    border-top: 1px dashed rgba(255, 255, 255, .15);
    padding-top: $grid-gutter;
  }

  .c-post-lead_primary-image {
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}
