.s-text {
  line-height: $lh-loose;

  a:link {
    color: $c-link;
  }
  a:visited {
    color: $c-visited;

    .c-body---dark & {
      color: $c-visited-dark;
    }
  }
  a:hover,
  a:active {
    color: $c-hover;
  }

  h1 {
    margin: 0 0 .6em;
    font-size: 1.4375em;
    font-weight: $fw-bold;
    line-height: $lh-normal;
    text-align: center;

    .c-body--dark & {
      color: #FFF;
    }

    @include medium {
      text-align: left;
    }
  }
  h2 {
    margin: 2em 0 .8em;
    font-weight: $fw-bold;
    font-size: 1.294em;

    .c-body--dark & {
      color: #EEE;
    }
  }
  h3 {
    margin: 2em 0 .8em;
    color: $c-orange;
    font-weight: $fw-bold;
    font-size: 1.117em;

  }

  p {
    margin: .4em 0 1.2em;
  }
  ul,
  ol {
    margin: .4em 0 1.6em 1.3em;
    padding-left: 1.3em;

    li {
      margin-bottom: .8em;
    }
  }
  ul {
    li {
      list-style: square;
    }
  }
  code {
    font-size: .941em;
    font-family: $f-monospace;
  }
  pre {
    margin: .4em 0 1.2em;
    font: .765em/1.75 $f-monospace;

    code {
      font-size: 1em;
    }
  }
  blockquote {
    margin: -.4em 0 1.2em;
    border-left: 1px solid #EEE;
    padding: .2em 0 .2em 1.6em;
    color: #555;

    .c-body--dark & {
      border-left-color: rgba(#FFF, .2);
      color: #999;
    }

    em, i {
      font-style: normal;
    }
  }
  img {
    max-width: 100% !important;
    height: auto;
    border: 2px solid #EEE;
    padding: 8px;
  }
  hr {
    margin: 2em 0;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #EEE;
    padding: 0;
  }
  table {
    width: 100%;
    margin: 1.6em 0;
  }
    th,
    td {
      border-bottom: 1px solid #EEE;
      padding: .4em .6em;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    thead {
      th,
      td {
        font-size: .75em;
      }
    }

}
