{% extends "_layout-normal" %}

{% set title = entry.title ~ ' | Eugene Fedorenko' %}
{% set metaDesc = entry.metaDesc %}
{% set bodyMods = 'c-body--dark' %}

{% block headMeta %}
  {% include 'elements/components/open-graph/_open-graph' with {
    'url': entry.url,
    'title': entry.title,
    'description': entry.metaDesc,
    'type': 'article',
    'image': entry.primaryImage.first()
  } only %}

  <meta name="author" content="Eugene Fedorenko">
  <link rel="canonical" href="{{ entry.url }}">
  <link rel="alternate" href="{{ url('traveling') }}/feed.atom" type="application/atom+xml" title="Eugene is traveling and photographing">
{% endblock %}

{% block content %}

  <div class="u-container u-container--narrow">
    <article class="o-post o-post--local c-post-lead entry">

      <h1 class="o-post_title u-title-section">
        {{ entry.title }}
      </h1>

      <div class="o-post_travel-dates">
        {% include 'elements/components/posts/_travel-dates' %}
      </div>

      <div class="o-post_body entry_text s-text">
        {% include 'elements/components/matrixContent/_matrixContent' with {
          'isFeed': false
        } %}
      </div>
    </article>


    {% if entry.hasDescendants() %}
      {% set entries = entry.descendants %}

      {% for entry in entries %}
        {% set isExternalWriting = false %}
        {% set isLink = false %}
        {% set isTOC = true %}
        {% set entryURL = entry.url %}
        {% set entryModifier = 'local'  %}

        {% include 'elements/components/posts/_posts-travel' %}
      {% endfor %}
    {% endif %}


  </div>

{% endblock %}
