{% extends "_layout-normal" %}

{% set title = 'Eugene Fedorenko is traveling and photographing' %}
{% set metaDesc = 'TODO: add description' %}
{% set bodyMods = 'c-body--dark' %}

{% block headMeta %}
  {% include 'elements/components/open-graph/_open-graph' with {
    'url': url('designing'),
    'title': title,
    'description': metaDesc,
    'type': 'article'
  } only %}

  <link rel="alternate" href="{{ url('traveling') }}/feed.atom" type="application/atom+xml" title="Eugene is traveling and photographing">
{% endblock %}

{% block content %}

  <div class="u-container u-container--narrow">
    <div class="c-page-head">
      <h1 class="o-page-title c-page-head_title">Traveling <em class="o-page-title_note">(and photographing)</em></h1>
    </div>

    {% include 'elements/components/posts/_posts' with {'channel': 'traveling', 'limit': 10, 'type': 'travel'} %}
  </div>

{% endblock %}
