<!doctype html>

<html lang="en">

<head>
  {% include 'elements/components/head-meta/_head-meta' %}
  {% block headMeta %}{% endblock %}
</head>

<body class="c-body {{ bodyMods | default('') }}">

{% include 'elements/components/header/_header' %}

{% block content %}{% endblock %}

{% include 'elements/components/footer/_footer' %}

{% include 'elements/components/scripts/_scripts' %}

</body>
</html>
