<!doctype html>

<html lang="en">

{% set metaDesc = 'TODO: description' %}

<head>
  {% include 'elements/components/head-meta/_head-meta' %}
</head>

<body class="c-body">

{% include 'elements/components/hero-intro/_hero-intro' %}

<div class="u-container">
  <div class="u-grid u-grid--gutters-l u-grid--1of2">
    <div class="u-grid-cell">

      <h2 class="u-title-section"><a href="/writing/" class="u-title-section_link">Writing</a></h2>

      <ul class="c-posts-list">
        {% include 'elements/components/posts/_posts' with {'channel': 'writing', 'limit': 7, 'type': 'titles', 'isPaginationVisible': false} %}
      </ul>

      <a href="/writing" class="u-see-more">Read older posts</a>

    </div>
    <div class="u-grid-cell">

      <h2 class="u-title-section"><a href="#" class="u-title-section_link">Reading</a></h2>

      {# TODO: show current books (even multiple), not the latest one #}
      {% set latestBook = craft.entries.section('reading').first() %}
      <p class="c-current-book">Current book: <a href="#"><img src="" alt="{{ latestBook.title }}"></a></p>

      {% include 'elements/components/posts/_posts' with {'channel': 'reading', 'entriesType': 'link', 'limit': 5, 'type': 'titles', 'modifier': 'compact', 'isPaginationVisible': false} %}

      <a href="/reading" class="u-see-more">See more recommendations</a>

    </div>
  </div>
</div>


<div class="c-work-wrapper">

  <div class="u-container">
    <div class="u-grid u-grid--gutters-l">
      <div class="u-grid-cell u-grid-cell--1of3">
      </div>

      <div class="u-grid-cell u-grid-cell--2of3">

        <h2 class="u-title-section"><a href="#" class="u-title-section_link">Designing</a></h2>
        <p>See what exactly I am doing at Wildbit, or peek at Dribbble:</p>

        <ul class="c-dribbble">
          <li class="c-dribbble_item"><img src="" alt="" class="c-dribbble_shot"></li>
          <li class="c-dribbble_item"><img src="" alt="" class="c-dribbble_shot"></li>
          <li class="c-dribbble_item"><img src="" alt="" class="c-dribbble_shot"></li>
        </ul>


        <h2 class="u-title-section"><a href="#" class="u-title-section_link">Coding</a></h2>
        <p>I made small contributions to a few open-source projects, and maintain wildbit-craft-framework — a set of templates for Craft that we use on public sites of our products.</p>


        <h2 class="u-title-section"><a href="#" class="u-title-section_link">Photographing</a></h2>
        <p>Travel and landscape. Fuji. 500px.</p>

      </div>
    </div>
  </div>

</div>

</body>
</html>
