/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+apacheconf+bash+csharp+http+php+ruby+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
  direction: ltr;
  color: #000;
  font-family: $f-monospace;
  line-height: $lh-loose;
  text-align: left;
  text-shadow: 0 1px #FFF;
  word-spacing: normal;
  word-break: normal;
  white-space: pre;
  tab-size: 4;
  hyphens: none;
}

pre[class*='language-']::selection,
code[class*='language-']::selection {
  background: #B3D4FC;
  text-shadow: none;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  margin: .5em 0;
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #F5F2F0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: .3em;
  padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #708090;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: rgba(#FFF, .5);
  color: #A67F59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07A;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #E90;
}

.token.important,
.token.bold {
  font-weight: $fw-bold;
}
.token.italic {
}

.token.entity {
  cursor: help;
}
