<div class="c-portfolio_left">
  <span class="ss ss_beanstalk-landing-30"></span>
  <span class="ss ss_postmark-stats-60"></span>
  <span class="ss ss_deploybot-home-30"></span>
  <span class="ss ss_postmark-activity-45"></span>
  <span class="ss ss_whentobuymac-70"></span>
</div>

<div class="c-portfolio_right">
  <span class="ss ss_deploybot-dashboard-45"></span>
  <span class="ss ss_beanstalk-dashboard-60"></span>
  <span class="ss ss_postmark-hacker-60"></span>
  <span class="ss ss_wildbit-card-30"></span>
  <span class="ss ss_wildbit-blog-60"></span>
</div>
