<div class="u-container">
  <div class="u-grid u-grid--center u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full c-hero-intro">
    <div class="u-grid-cell u-grid-cell--1of3-at-medium c-hero-intro_photo">
      {% set userpic = {
        mode: 'crop',
        width: 180,
        height: 180,
        quality: 90
      } %}
      {% set userpic2x = {
        mode: 'crop',
        width: 360,
        height: 360,
        quality: 90
      } %}
      <img src="{{ globals.userpic.first().getUrl(userpic) }}" srcset="{{ globals.userpic.first().getUrl(userpic2x) }} 2x" alt="Photo of Eugene Fedorenko" class="c-hero-intro_img">
    </div>
    <div class="u-grid-cell u-grid-cell--2of3-at-medium">
      <h1 class="c-hero-intro_text"><strong>Eugene Fedorenko</strong> is a product designer at <a href="https://wildbit.com" class="c-hero-intro_link u-link-wb">Wildbit</a>, working primarily on <a href="https://conveyor.com" class="c-hero-intro_link u-link-cv">Conveyor</a> at the moment and <a href="https://beanstalkapp.com" class="c-hero-intro_link u-link-bs">Beanstalk</a>, <a href="https://postmarkapp.com" class="c-hero-intro_link u-link-pm">Postmark</a>, and <a href="https://deploybot.com" class="c-hero-intro_link u-link-db">DeployBot</a> in the past.</h1>
      <p  class="c-hero-intro_text">Follow on <a href="https://twitter.com/efedorenko" class="c-hero-intro_link">Twitter</a>, peek at <a href="https://www.instagram.com/efedorenko/" class="c-hero-intro_link">Instagram</a>, look over a shoulder on <a href="https://dribbble.com/efedorenko" class="c-hero-intro_link">Dribbble</a> and <a href="https://github.com/efedorenko" class="c-hero-intro_link">GitHub</a>, or just <a href="mailto:fedorenko@gmail.com" class="c-hero-intro_link">send an email</a>.</p>
      <p  class="c-hero-intro_location">🇺🇦 Mykolayiv, Ukraine →︎  🇺🇸 Philadelphia, PA</p>
    </div>
  </div>
</div>
