<div class="u-container">
  <div class="u-grid u-grid--center u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full c-hero-intro">
    <div class="u-grid-cell u-grid-cell--1of3-at-medium c-hero-intro_photo">
      {% set userpic = {
        mode: 'crop',
        width: 180,
        height: 180,
        quality: 90
      } %}
      {% set userpic2x = {
        mode: 'crop',
        width: 360,
        height: 360,
        quality: 90
      } %}
      <img src="{{ globals.userpic.first().getUrl(userpic) }}" srcset="{{ globals.userpic.first().getUrl(userpic2x) }} 2x" alt="Photo of Eugene Fedorenko" class="c-hero-intro_img">
    </div>
    <div class="u-grid-cell u-grid-cell--2of3-at-medium">
      <h1 class="c-hero-intro_text">
        <strong>Eugene Fedorenko</strong> is a product designer working on dev tools.
        Currently a Principal Product Designer at&nbsp;<a href="https://postmarkapp.com" class="c-hero-intro_link u-link-pm">Postmark</a> by&nbsp;<a href="https://www.activecampaign.com" class="c-hero-intro_link u-link-ac">ActiveCampaign</a>.
        Previously built <span class="u-link-cv">Conveyor</span>, <a href="https://deploybot.com" class="c-hero-intro_link u-link-db">DeployBot</a>, and <a href="https://beanstalkapp.com" class="c-hero-intro_link u-link-bs">Beanstalk</a> at&nbsp;<a href="https://wildbit.com" class="c-hero-intro_link u-link-wb">Wildbit</a>.
      </h1>
      <p  class="c-hero-intro_text">
        Follow on&nbsp;<a href="https://twitter.com/efedorenko" class="c-hero-intro_link">Twitter</a>,
        connect at&nbsp;<a href="https://www.linkedin.com/in/fedorenko/" class="c-hero-intro_link">LinkedIn</a>,
        look at&nbsp;<a href="https://dribbble.com/efedorenko" class="c-hero-intro_link">Dribbble</a> and <a href="https://github.com/efedorenko" class="c-hero-intro_link">GitHub</a>,
        or just <a href="mailto:hello@efedorenko.com" class="c-hero-intro_link">send an&nbsp;email</a>.</p>
      </p>
      <p  class="c-hero-intro_location">🇺🇦 Mykolayiv, Ukraine →︎  🇺🇸 Philadelphia, PA</p>
    </div>
  </div>
</div>
