<div class="u-container">
  <div class="u-grid u-grid--center u-grid--gutters-s u-grid--gutters-l-at-medium u-grid--full c-hero-intro">
    <div class="u-grid-cell u-grid-cell--1of3-at-medium c-hero-intro_photo">
      <img src="/images/ef@2x.jpg" alt="Photo of Eugene Fedorenko" class="c-hero-intro_img">
    </div>
    <div class="u-grid-cell u-grid-cell--2of3-at-medium">
      <h1 class="c-hero-intro_text"><strong>Eugene Fedorenko</strong> is a product designer at <a href="http://wildbit.com" class="c-hero-intro_link c-hero-intro_link--wb">Wildbit</a>, working on <a href="http://beanstalkapp.com" class="c-hero-intro_link c-hero-intro_link--bs">Beanstalk</a>, <a href="https://postmarkapp.com" class="c-hero-intro_link c-hero-intro_link--pm">Postmark</a>, and <a href="https://deploybot.com" class="c-hero-intro_link c-hero-intro_link--db">DeployBot</a>.</h1>
      <p  class="c-hero-intro_text">Follow on <a href="https://twitter.com/efedorenko" class="c-hero-intro_link">Twitter</a>, peek at <a href="https://www.instagram.com/efedorenko/" class="c-hero-intro_link">Instagram</a>, look over a shoulder on <a href="https://dribbble.com/efedorenko" class="c-hero-intro_link">Dribbble</a> and <a href="https://github.com/efedorenko" class="c-hero-intro_link">GitHub</a>, or just <a href="mailto:fedorenko@gmail.com" class="c-hero-intro_link">send an email</a>.</p>
    </div>
  </div>
</div>
