@use 'sass:math';

.c-hero-intro {
  margin-top: math.div($grid-gutter, 4);
  margin-bottom: math.div($grid-gutter, 4);

  @include medium {
    margin-top: math.div($grid-gutter, 2);
    margin-bottom: math.div($grid-gutter, 2);
  }

  &_photo {
    @include medium {
      text-align: right;
    }
  }
    &_img {
      width: 180px;
      height: 180px;
      background-color: #EEE;
      vertical-align: middle;
    }

  &_text {
    margin: .66em 0;
    font-weight: 500;
    font-size: 24px;
    font-size: 1.4375rem;
    letter-spacing: -.0075em;
  }
    &_link {
      color: #3DC2D7;
      text-decoration: underline;
    }

  &_location {
    color: #808080;
    font: .8125rem $f-sansserif
  }
}
